

.one-exercise:hover {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
    background-color: red;
    border: 1px solid black;
    flex-wrap: wrap;
    width: 400px;
    margin: 10px;
    padding: 40px ;
    justify-content: center;
    transform: scale(1.05);
    border-radius: 20px;
    text-decoration: none;

}

.one-exercise:active {
    transform: scale(0.96);
    color:black;
 }
 

.one-exercise {
    text-decoration: none;
    background-color:whitesmoke;
    border: 1px solid black;
    margin: 10px;
    padding: 20px ;
    border-radius: 20px;

}